@mixin breakpoint( $point ) {
	@if $point == small-phone {
		@media ( max-width: 479px ) { @content; }
	}
	@else if $point == large-phone {
		@media ( max-width: 599px ) { @content; }
	}
	@else if $point == small-tablet {
		@media ( max-width: 767px ) { @content; }
	}
	@else if $point == large-tablet {
		@media( max-width: 1024px ) { @content; }
	}
}
@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}
@mixin linear-gradient($fromColor, $toColor) {	
	background-color: $fromColor; /* Fallback Color */
	background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
	background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
	background-image:         linear-gradient(top, $fromColor, $toColor);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}