@import 'compass/reset';
@import 'mixins';
@import 'colors';

html {
	font-family: 'Didact Gothic', sans-serif;
}

.button:before {
	content: "";
	display: block;
	background: $white;
	border-top: 2px solid #ddd;
	position: absolute;
	top: -18px;
	left: -18px;
	bottom: -18px;
	right: -18px;
	z-index: -1;
	@include box-shadow( inset 0px 8px 48px #ddd );
}
.button, .button:link, .button:visited {
	@include breakpoint( small-phone ) {
		float: left;
		display: inline;
	}
	display: block;
	width: 96.66px;
	height: 21px;
	margin: 5px 5px 17px 5px;
	padding-top: 8px;
	@include box-shadow( 0px 3px 8px #aaa, inset 0px 2px 3px $white );
	border: solid 1px transparent;
	@include linear-gradient( $gradientFrom, $gradientTo );
	font-size: 0.6em; 
	color: $midMain;
	text-align: center;
	cursor: pointer;
}
.button:hover {
	color: $lightMain;
	background-color: $offWhite;
}​
.button:focus, .button:active {
	@include box-shadow( 0px 3px 4px #aaa inset, 0px 2px 3px $white );
}

#content-wrapper {
	width: 768px;
	height: 768px;
	@include breakpoint( small-tablet ) {
		width: 600px;
		height: 600px;
	}
	@include breakpoint( large-phone ) {
		width: 426px;
		height: 426px;
	}
	@include breakpoint( small-phone ) {
		width: 320px;
		height: 320px;
	}
	margin: 0 auto;
}

h1 {
	margin: 10px 0 5px 0;
	font-size: 1.5em;
	color: $midMain;
	text-align: center;
}

/* board layout */
#sudoku-game-wrapper {
	float: left;
	width: 661px;
	height: 661px;
	@include breakpoint( small-tablet ) {
		width: 493px;
		height: 493px;
	}
	@include breakpoint( large-phone ) {
		width: 320px;
		height: 320px;
	}
	#sudoku-game {
		width: 96%;
		height: 96%;
		margin: 1%;
		padding: 1%;
		background-color: $darkMain;
		.row {
			height: 10.51%;
			margin: 0 0 0.5% 0;
			padding: 0;
			clear: both;
			zoom: 1; /*for ie6/7*/
		}
		.row:before,
		.row:after {
			content: '';
			display: table;
		}
		.row:after {
			clear: both;
		}
		.row:last-child {
			margin-bottom: 0;
		}
		.column {
			float: left;
			display: block;
			width: 10.51%;
			height: 100%;
			margin: 0 0.5% 0 0;
			background-color: $white;
		}
		.column:last-child {
			margin-right: 0;
		}
		.row-thick {
			margin-bottom: 1%;
		}
		.column-thick {
			margin-right: 1%;
		}
	}	
}

.num-entry {
	width: 75%;
	height: 75%;
	margin: 3%;
	padding: 10%;
	border: none;
	font-size: 1.5em;
	text-align: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.set {
	color: $darkMain;
}
.blank {
	color: $positive;
}
.invalid {
	color: $negative;
}

#game-buttons {
	float: left;
	width: 106px;
	@include breakpoint( small-phone ) {
		width: 320px;
		height: 320px;
	}
	margin-top: 1%;
	font-size: 20px;
	#timer {
		width: 94.66px;
		height: 30px;
		margin: 0px 5px 17px 5px;
		padding-top: 6px;
		border: solid 1px transparent;
		@include linear-gradient( $gradientFrom, $gradientTo );
		p {
			width: 100%;
			text-align: center;
			color: $midMain
		}
	}
}
#win-screen {
	position: absolute;
	top: 0;
	display: none;
	width: 768px;
	height: 768px;
	@include breakpoint( small-tablet ) {
		width: 600px;
		height: 600px;
	}
	@include breakpoint( large-phone ) {
		width: 426px;
		height: 426px;
	}
	@include breakpoint( small-phone ) {
		width: 320px;
		height: 320px;
	}
	background-color: rgba( 255, 255, 255, 0.85 );
	p {
		margin-top: 300px;
		font-size: 4em;
		text-align: center;
	}
	#win-buttons {
		max-width: 304px;
		margin: 30px auto;
		font-size: 2em;
		.button {
			float: left;
			width: 140px;
			height: 29px;
		}
		#play-again:hover {
			color: $positive;
		}
		#exit:hover {
			color: $negative;
		}
	}
}