@charset "UTF-8";
/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/main_styles.scss */
html {
  font-family: 'Didact Gothic', sans-serif;
}

/* line 9, ../sass/main_styles.scss */
.button:before {
  content: "";
  display: block;
  background: white;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  -webkit-box-shadow: inset 0px 8px 48px #dddddd;
  -moz-box-shadow: inset 0px 8px 48px #dddddd;
  box-shadow: inset 0px 8px 48px #dddddd;
}

/* line 22, ../sass/main_styles.scss */
.button, .button:link, .button:visited {
  display: block;
  width: 96.66px;
  height: 21px;
  margin: 5px 5px 17px 5px;
  padding-top: 8px;
  box-shadow: 0px 3px 8px #aaaaaa, inset 0px 2px 3px white;
  border: solid 1px transparent;
  background-color: #f7f7f7;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  /* IE10 */
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #f7f7f7, #e7e7e7);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f7f7f7', EndColorStr='#e7e7e7');
  font-size: 0.6em;
  color: #555555;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 479px) {
  /* line 22, ../sass/main_styles.scss */
  .button, .button:link, .button:visited {
    float: left;
    display: inline;
  }
}

/* line 40, ../sass/main_styles.scss */
.button:hover {
  color: #a7a7a7;
  background-color: whitesmoke;
}

/* line 44, ../sass/main_styles.scss */
​
.button:focus, .button:active {
  box-shadow: 0px 3px 4px #aaaaaa inset, 0px 2px 3px white;
}

/* line 48, ../sass/main_styles.scss */
#content-wrapper {
  width: 768px;
  height: 768px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  /* line 48, ../sass/main_styles.scss */
  #content-wrapper {
    width: 600px;
    height: 600px;
  }
}
@media (max-width: 599px) {
  /* line 48, ../sass/main_styles.scss */
  #content-wrapper {
    width: 426px;
    height: 426px;
  }
}
@media (max-width: 479px) {
  /* line 48, ../sass/main_styles.scss */
  #content-wrapper {
    width: 320px;
    height: 320px;
  }
}

/* line 66, ../sass/main_styles.scss */
h1 {
  margin: 10px 0 5px 0;
  font-size: 1.5em;
  color: #555555;
  text-align: center;
}

/* board layout */
/* line 74, ../sass/main_styles.scss */
#sudoku-game-wrapper {
  float: left;
  width: 661px;
  height: 661px;
}
@media (max-width: 767px) {
  /* line 74, ../sass/main_styles.scss */
  #sudoku-game-wrapper {
    width: 493px;
    height: 493px;
  }
}
@media (max-width: 599px) {
  /* line 74, ../sass/main_styles.scss */
  #sudoku-game-wrapper {
    width: 320px;
    height: 320px;
  }
}
/* line 86, ../sass/main_styles.scss */
#sudoku-game-wrapper #sudoku-game {
  width: 96%;
  height: 96%;
  margin: 1%;
  padding: 1%;
  background-color: #111111;
}
/* line 92, ../sass/main_styles.scss */
#sudoku-game-wrapper #sudoku-game .row {
  height: 10.51%;
  margin: 0 0 0.5% 0;
  padding: 0;
  clear: both;
  zoom: 1;
  /*for ie6/7*/
}
/* line 100, ../sass/main_styles.scss */
#sudoku-game-wrapper #sudoku-game .row:before,
#sudoku-game-wrapper #sudoku-game .row:after {
  content: '';
  display: table;
}
/* line 104, ../sass/main_styles.scss */
#sudoku-game-wrapper #sudoku-game .row:after {
  clear: both;
}
/* line 107, ../sass/main_styles.scss */
#sudoku-game-wrapper #sudoku-game .row:last-child {
  margin-bottom: 0;
}
/* line 110, ../sass/main_styles.scss */
#sudoku-game-wrapper #sudoku-game .column {
  float: left;
  display: block;
  width: 10.51%;
  height: 100%;
  margin: 0 0.5% 0 0;
  background-color: white;
}
/* line 118, ../sass/main_styles.scss */
#sudoku-game-wrapper #sudoku-game .column:last-child {
  margin-right: 0;
}
/* line 121, ../sass/main_styles.scss */
#sudoku-game-wrapper #sudoku-game .row-thick {
  margin-bottom: 1%;
}
/* line 124, ../sass/main_styles.scss */
#sudoku-game-wrapper #sudoku-game .column-thick {
  margin-right: 1%;
}

/* line 130, ../sass/main_styles.scss */
.num-entry {
  width: 75%;
  height: 75%;
  margin: 3%;
  padding: 10%;
  border: none;
  font-size: 1.5em;
  text-align: center;
}

/* line 140, ../sass/main_styles.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 144, ../sass/main_styles.scss */
.set {
  color: #111111;
}

/* line 147, ../sass/main_styles.scss */
.blank {
  color: #04a0b5;
}

/* line 150, ../sass/main_styles.scss */
.invalid {
  color: #e20a0a;
}

/* line 154, ../sass/main_styles.scss */
#game-buttons {
  float: left;
  width: 106px;
  margin-top: 1%;
  font-size: 20px;
}
@media (max-width: 479px) {
  /* line 154, ../sass/main_styles.scss */
  #game-buttons {
    width: 320px;
    height: 320px;
  }
}
/* line 163, ../sass/main_styles.scss */
#game-buttons #timer {
  width: 94.66px;
  height: 30px;
  margin: 0px 5px 17px 5px;
  padding-top: 6px;
  border: solid 1px transparent;
  background-color: #f7f7f7;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  /* IE10 */
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #f7f7f7, #e7e7e7);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f7f7f7', EndColorStr='#e7e7e7');
}
/* line 170, ../sass/main_styles.scss */
#game-buttons #timer p {
  width: 100%;
  text-align: center;
  color: #555555;
}

/* line 177, ../sass/main_styles.scss */
#win-screen {
  position: absolute;
  top: 0;
  display: none;
  width: 768px;
  height: 768px;
  background-color: rgba(255, 255, 255, 0.85);
}
@media (max-width: 767px) {
  /* line 177, ../sass/main_styles.scss */
  #win-screen {
    width: 600px;
    height: 600px;
  }
}
@media (max-width: 599px) {
  /* line 177, ../sass/main_styles.scss */
  #win-screen {
    width: 426px;
    height: 426px;
  }
}
@media (max-width: 479px) {
  /* line 177, ../sass/main_styles.scss */
  #win-screen {
    width: 320px;
    height: 320px;
  }
}
/* line 196, ../sass/main_styles.scss */
#win-screen p {
  margin-top: 300px;
  font-size: 4em;
  text-align: center;
}
/* line 201, ../sass/main_styles.scss */
#win-screen #win-buttons {
  max-width: 304px;
  margin: 30px auto;
  font-size: 2em;
}
/* line 205, ../sass/main_styles.scss */
#win-screen #win-buttons .button {
  float: left;
  width: 140px;
  height: 29px;
}
/* line 210, ../sass/main_styles.scss */
#win-screen #win-buttons #play-again:hover {
  color: #04a0b5;
}
/* line 213, ../sass/main_styles.scss */
#win-screen #win-buttons #exit:hover {
  color: #e20a0a;
}
